


<div style="display: flex; flex-direction: column; padding: 10px;">

    <p class="header">
        Uwaga, usunięcie tej pozycji spowoduje usunięcie pozycji w subSubKategoriach.
        Czy na pewno chcesz kontynuować?
    </p>

    <div class="df-sb bottom-buttons">
        <div></div>

        <div class="df">
            <button mat-raised-button color="primary"
                    mat-dialog-close>
                No
            </button>
            <button mat-raised-button
                    style="margin-left: 10px;"
                    color="warn"
                    (click)="subcategoriesService.delete(subcategory.subcategoryId)"
                    mat-dialog-close>
                Yes
            </button>
            <mat-spinner diameter="32" *ngIf="subcategoriesService.loadingElements" class="spinner"></mat-spinner>
        </div>
    </div>
</div>

