

<div class="db m-10 w-500px" style="margin-bottom: 100px;">

    <p class="header">
        Aktualizacja adresu email
    </p>
    <p class="subHeader">
        Wypełnij wszystkie pola aby móc zmienić email
    </p>

    <div mat-dialog-content>
        <form [formGroup]="formGroup" class="w-500px db">

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
                <mat-icon matSuffix>login</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mb-20">
                <mat-label>Nowy email</mat-label>
                <input matInput formControlName="newEmail" />
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

        </form>
    </div>


    <div class="df-sb bottom-buttons">
        <button mat-raised-button color="warn" mat-dialog-close [routerLink]="['/admin']">
            Wstecz
        </button>

        <div>
            <button mat-raised-button color="warn" mat-dialog-close class="mr-10" [routerLink]="['/admin']">
                <mat-icon>cancel</mat-icon>
                Anuluj
            </button>
            <button mat-raised-button
                    color="primary"
                    (click)="accountHandlerService.changeEmail(formGroup)"
                    [disabled]="accountHandlerService.isValidChangeEmail(formGroup)"
                    mat-dialog-close>
                <mat-icon>
                    timer
                </mat-icon>
                Zapisz
            </button>
            <mat-spinner diameter="32" *ngIf="accountHandlerService.zapisywanie" class="p"></mat-spinner>


        </div>
    </div>
</div>

